<!DOCTYPE html>
<html>
<head>
    <title>MainRails</title>
  


    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
      <%= csrf_meta_tags %>

 </head>

<body>

  <!-- Navigation -->
  

  <header>
    <nav>
      <div class="nav-link">
        <ul>
          <li><%= link_to 'Home', root_url, class:'link' %></li>
          <li><a href="#" class="link">About us</a></li>
          <li><a href="#" class="link">Contact</a></li> 
          <%= render 'users/menu/login_items' %>
        </ul> 
      </div>
    </nav>


     <main>
       
     <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <%= yield %> 
          </div>
        </div>
      </div>
    </main> 
    
  </header> 



  <!-- Page Content -->


  <!-- COntainer -->
  <!--<style>body{padding-top:70px;}</style>-->

</body>

</html>
